.text-underline-dotted{text-decoration:underline;text-decoration-style:dotted}
.text-underline-dashed{text-decoration:underline;text-decoration-style:dashed}

.grid{
  display:grid;
  grid-template-columns: repeat( 18, minmax(75px, 1fr) );
  grid-template-areas: "alkali alkaline transition transition transition transition transition transition transition transition transition transition boron carbon pnictogen chalcogen halogen noble";
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  justify-items: stretch;
}
.grid-item{
  display:block;
  position:relative;
}
#legend .grid-item{text-align:center}
#legend .grid-item.transition{grid-area:transition}
.grid-item:hover{
  text-decoration:none
}
.grid-item .card{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.grid-item .card::after {
  content: "";
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.grid-item .card:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  z-index:1;
  text-decoration:none
}
.grid-item .card:hover::after {
  opacity: 1;
}

/* .grid-item:active,.grid-item:focus{grid-column-end:span 2;grid-row-end:span 2;z-index:1000} */

.element .title{position:absolute;top:0;right:0}
.element .number{position:absolute;top:0;left:0}
.element .card-body{padding:1.25rem 0.5rem;}
.element .subtitle{font-size:0.75rem}
.element p{margin-bottom:0.25rem;font-size:0.6875rem}

.element.noble.gas .card{background-color:#007bff !important;color:#fff!important}
.element.metal .card{background-color:#f8f9fa !important;color:#212529!important}
.element.metalloid .card{background-color:#17a2b8 !important;color:#fff!important}
.element.nonmetal .card{background-color:#ffc107 !important;color:#fff!important}
.element.lanthanide .card{background-color:#6c757d !important;color:#fff!important}
.element.actinide .card{background-color:#343a40 !important;color:#fff!important}

.element[data-phase="gas"] .title{color:#dc3545 !important}
.element[data-phase="liquid"] .title{color:#007bff !important}

.element.radioactive .card::after{content:" ";position:absolute;top:0;left:0;bottom:0;right:0;z-index:0;background-image:url(radioactive.svg);background-position: center center;background-size:50%;background-repeat:no-repeat;opacity:0.15}
.element.radioactive .number{color:#ffc107 !important}
