
{% set my_css = 'style="grid-column-start: '|safe ~ element.xpos ~ ';grid-row-start: ' ~ element.ypos ~ '"'|safe %}
<div href="#" class="grid-item element {{element.css_classes}} {% if element.hybrid %} {{element.hybrid}}{% endif %} {% if element.radioactive == True %} radioactive{% endif %}" id="element-{{element.name|lower()}}" data-toggle="modal" data-target="#elementModal" data-phase="{{element.phase.lower()}}" data-i="{{element.number}}" data-group="{{element.group}}" data-period="{{element.period}}"  {{my_css}}>
  <div class="card h-100">
    <div class="card-header">
      <h4 class="card-title">
        <span class="badge badge-light title">{{element.symbol}}</span>
        <span class="badge number">{{element.number}}</span>
      </h4>
      <h6 class="card-subtitle mb-2 subtitle text-center">{{element.name}}</h6>
    </div>
    <div class="card-body text-monospace">
      <!-- {{element.group}} -->
      <p class="mass text-right">{{element.atomic_mass|round(3)}} <i class="fas fa-weight-hanging"></i></p>
      <hr class="mt-1 mb-1">
      <p class="shells text-center">
        <span>
          <!-- <i class="fas fa-atom"> </i>  -->
          {% if element.electron_configuration_semantic_formatted %}{{element.electron_configuration_semantic_formatted|safe}}{% endif %}<br>
          {{element.shells|join('/<wbr>'|safe)}}
        </span>
      </p>
      
      <hr class="mt-1 mb-1">
      <p class="en"><i class="fa-solid fa-plug-circle-minus"></i> {% if element.electronegativity_pauling %}{{element.electronegativity_pauling}}{% else %}&ndash;{% endif %}</p>
      
      <div class="d-none">
        <div class="description">
          <div class="row">
            <div class="col">
              <p class="h3">Beschreibung</p>
              <p>{{element.summary}}</p>
              <a href="{{element.source}}" target="_blank"><i class="fas fa-external-link-alt"></i> Source</a>
            </div>

            <div class="col col-xl-3 col-lg-5 col-md-6 col-sm-12 col-xs-12">
              <p class="h3">Bild</p>
              <figure class="figure">
                <img src="{{element.image.url}}" class="figure-img img-fluid rounded img-responsive" alt="{{element.image.title}}" loading="lazy">
                <figcaption class="figure-caption">
                  <a href="{{element.image.url}}" title="{{element.image.title}}" target="_blank">{{element.image.title}}</a>
                  {{element.image.attribution}}
                </figcaption>
              </figure>
            </div>

            <div class="col col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="h3">Eigenschaften/Parameter</p>
              <table class="table table-striped table-sm text-white">
                {% if element.period %}
                  <tr><th><i class="fa-solid fa-grip-lines"></i> Period</th><td>{{element.period}}</td></tr>
                {% endif %}
                {% if element.group %}
                  <tr><th><i class="fa-solid fa-grip-lines-vertical"></i> Group</th><td>{{element.group}}</td></tr>
                {% endif %}
                {% if element.atomic_mass %}
                  <tr><th><i class="fa-solid fa-weight-hanging"></i> Atomic mass</th><td>{{element.atomic_mass}} <sup>g</sup>&frasl;<sub>mol</sub></td></tr>
                {% endif %}
                {% if element.melt %}
                  <tr><th><i class="fa-solid fa-temperature-low"></i> Melting Point</th><td>{{element.melt}} K ({{(element.melt|float - 273.15)|round(3)}} °C)</td></tr>
                {% endif %}
                {% if element.boil %}
                  <tr><th><i class="fa-solid fa-temperature-high"></i> Boiling Point</th><td>{{element.boil}} K ({{(element.boil|float - 273.15)|round(3)}} °C)</td></tr>
                {% endif %}
                {% if element.density %}
                <tr><th><i class="fa-solid fa-down-left-and-up-right-to-center"></i> Density</th><td>{{element.density}}
                  {% if element.phase.lower() == 'gas' %}
                    <sup>g</sup>&frasl;<sub>dm<sup>3</sup></sub> =
                    <sup>g</sup>&frasl;<sub>l</sub>
                  {% else %}
                    <sup>g</sup>&frasl;<sub>cm<sup>3</sup></sub> = 
                    <sup>kg</sup>&frasl;<sub>dm<sup>3</sup></sub>
                  {% endif %}
                </td></tr>
                {% endif %}              
                {% if element.electron_configuration_semantic_formatted %}
                <tr><th><i class="fa-solid fa-atom"></i> Configuration</th><td>{{element.electron_configuration_semantic_formatted|safe}}</td></tr>
                {% endif %}
                {% if element.shells %}
                  <tr><th><i class="fa-solid fa-atom"></i> Shells</th><td>{{element.shells|join('/<wbr>'|safe)}}</td></tr>
                {% endif %}
                {% if element.appearance %}
                  <tr><th><i class="fa-solid fa-eye"></i> appearance</th><td>{{element.appearance}}</td></tr>
                {% endif %}
                {% if element.category %}
                  <tr><th><i class="fa-solid fa-tag"></i> category</th><td>{{element.category}}</td></tr>
                {% endif %}
                {% if element.color %}
                  <tr><th><i class="fa-solid fa-palette"></i> Color</th><td>{{element.color}}</td></tr>
                {% endif %}
                {% if element.electron_affinity %}
                  <tr><th><i class="fa-solid fa-plug-circle-plus"></i> Electroaffinity</th><td>{{element.electron_affinity}}</td></tr>
                {% endif %}
                {% if element.electronegativity_pauling %}
                  <tr><th><i class="fa-solid fa-plug-circle-minus"></i> Electronegativity</th><td>{{element.electronegativity_pauling}}</td></tr>
                {% endif %}
              </table>

            </div>
          </div>

          <figure class="figure">
            <img src="{{element.bohr_model_image}}" class="figure-img img-fluid rounded img-responsive" alt="Bohrsches Atommodell von  {{element.name}}" loading="lazy">
            <figcaption class="figure-caption">
              Bohrsches Atommodell von {{element.name}}
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>