<div class="grid-item"><p class="h1">I</p> <p class="h5 name">Alkali</p> <p class="h2">1</p> </div>
<div class="grid-item"><p class="h1">II</p> <p class="h5 name">Alkaline</p> <p class="h2">2</p> </div>
<div class="grid-item transition"><p class="h1">&nbsp;</p> <p class="h5 name">Transition metals</p> <p class="h2">3 - 12</p> </div>
<div class="grid-item"><p class="h1">III</p> <p class="h5 name">Boron</p> <p class="h2">13</p> </div>
<div class="grid-item"><p class="h1">IV</p> <p class="h5 name">Carbon</p> <p class="h2">14</p> </div>
<div class="grid-item"><p class="h1">V</p> <p class="h5 name">Pnictogen</p> <p class="h2">15</p> </div>
<div class="grid-item"><p class="h1">VI</p> <p class="h5 name">Chalcogen</p> <p class="h2">16</p> </div>
<div class="grid-item"><p class="h1">VII</p> <p class="h5 name">Halogen</p> <p class="h2">17</p> </div>
<div class="grid-item"><p class="h1">VIII</p> <p class="h5 name">Noble</p> <p class="h2">18</p> </div>
