.container-fluid{padding-left:30px;padding-right:30px}

.text-underline-dotted{text-decoration:underline;text-decoration-style:dotted}
.text-underline-dashed{text-decoration:underline;text-decoration-style:dashed}

.grid{
  display:grid;
  grid-template-columns: repeat( 18, minmax(90px, 1fr) );
  grid-template-areas: "alkali alkaline transition transition transition transition transition transition transition transition transition transition boron carbon pnictogen chalcogen halogen noble";
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  justify-items: stretch;
}
.grid-item{
  display:block;
  position:relative;
}
#legend .grid-item{text-align:center;align-self: end;}
#legend .grid-item.transition{grid-area:transition}
.grid-item:hover{
  text-decoration:none
}
.grid-item .card{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.grid-item .card::after {
  content: "";
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.element#example{position:relative;}
.element#example > *{transform:scale(2);}

.grid-item .card:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  z-index:1;
  text-decoration:none
}
.grid-item .card:hover::after {
  opacity: 1;
}

.o-0{opacity:0}
.o-25{opacity:0.25}
.o-50{opacity:0.5}
.o-75{opacity:0.75}
.o-100{opacity:1}

.o-h-100:hover{opacity:1}

.blockquote{border-width:3px!important}

.switch{}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.switch label{}
.switch label input[type="checkbox"] {opacity: 0;width: 0;height: 0;}
.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 36px;
    height: 14px;
    background-color: rgba(0,0,0,0.38);
    border-radius: 15px!important;
    margin-right: 10px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
}
.switch label .lever::before, .switch label .lever::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%!important;
    left: 0;
    top: -3px;
    -webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
    transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
}
.switch label .lever::after {
    background-color: #F1F1F1;
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
}
.switch label input[type="checkbox"]:checked + .lever::before, .switch label input[type="checkbox"]:checked + .lever::after {
    left: 18px;
}
/* .grid-item:active,.grid-item:focus{grid-column-end:span 2;grid-row-end:span 2;z-index:1000} */

*{border-radius:0!important}
.element .title{float:right}
.element .number{float:left}
.element .card-header{padding:0}
.element .card-body{padding:0.25rem 0.25rem 0.0rem;}
.element .subtitle{font-size:0.75rem;clear:both}
.element p{margin-bottom:0.25rem;font-size:0.6875rem}

.element[data-group="1"]::before{display:block;position:absolute;left:-0.75em;top:50%;transform:translateY(-50%);opacity:0.5;font-size:1.75em;}
.element[data-period="1"][data-group="1"]::before{content:"1"}
.element[data-period="2"][data-group="1"]::before{content:"2"}
.element[data-period="3"][data-group="1"]::before{content:"3"}
.element[data-period="4"][data-group="1"]::before{content:"4"}
.element[data-period="5"][data-group="1"]::before{content:"5"}
.element[data-period="6"][data-group="1"]::before{content:"6"}
.element[data-period="7"][data-group="1"]::before{content:"7"}

.element.noble.gas .card{background-color:#007bff !important;color:#fff!important}
.element.metal .card{background-color:#343a40 !important;color:#fff!important}
.element.metalloid .card{background-color:#cc6003 !important;color:#fff!important}
.element.nonmetal .card{background-color:#17a2b8 !important;color:#fff!important}
.element.lanthanide .card{background-color:#262a2e !important;color:#fff!important}
.element.actinide .card{background-color:#1f2124 !important;color:#fff!important}

.element.metal.metalloid .card{background: linear-gradient(45deg, #343a40 50%, #cc6003 50%) !important}
.element.nonmetal.metalloid .card{background: linear-gradient(45deg, #cc6003 50%, #17a2b8 50%) !important}

.element.unknown .card,
.element.metalloid.unknown .card,
.element.noble.gas.unknown .card{background-color:#6c757d!important}

.badge-warning-dark{background-color:#cc6003 !important;color:#fff!important}

.dark-theme{background-color:#1e2022;color:#fff}
/* .dark-theme .element.metal .card{background-color:#6c757d !important;color:#fff!important} */
.dark-theme .modal-content{background-color:#343a40}
.dark-theme .modal-header .close{color:#fff}
.dark-theme .modal-header .close:hover{color:#fff}

.element[data-phase="gas"] .title{color:#dc3545 !important}
.element[data-phase="liquid"] .title{color:#007bff !important}

.element.radioactive .card::after{content:" ";position:absolute;top:0;left:0;bottom:0;right:0;z-index:0;background-image:url(../images/radioactive.svg);background-position: center center;background-size:50%;background-repeat:no-repeat;opacity:0.15}
.element.radioactive .number{color:#ffc107 !important}

.minimalistic .element .card-title .title{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:2rem}
.minimalistic .element .card-title .number{position:absolute;top:25%;left:0}
.minimalistic .element .card-title .badge-light{background:transparent}
.minimalistic .element[data-phase="solid"] .card-title .badge-light{color:#fff !important}
.minimalistic .element.nav-item .card-title .badge-light{color:#fff !important}
.minimalistic .element .card-body{height:1;padding-bottom:75%}
.minimalistic .element .mass{position:absolute;bottom:0}
.minimalistic .element .shells{display:none}

.big-arrow{font-size:8rem;height:100%;position:absolute;bottom:0;left:50%;transform:translateX(-50%);}

#page-footer{color:#6c757d;background:#1e2022}
#page-footer *{border-color:#6c757d!important}
footer .social-media a{display:inline-block;width:100%;min-height:12.5vw;line-height:12.5vw;font-size:5vw;text-align:center}
footer .links ul{min-height:12.5vw}
footer a{color:#6c757d;transition:all 0.25s ease}
footer a:hover{color:#fff;text-decoration:none}
footer .social-media a.facebook:hover{background-color:#4267b2}
footer .social-media a.twitter:hover{background-color:#1da1f2}
footer .social-media a.youtube:hover{background-color:#f00}
footer .social-media a.instagram:hover{background-color:#111}

.modal-backdrop.show{opacity:0.8}
