<!doctype html>
<html lang="de">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="57x57" href="static/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="static/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="static/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="static/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="static/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="static/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="static/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="static/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/apple-icon-180x180.png">

  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/favicon-16x16.png">

  <meta name="msapplication-TileColor" content="#28a745">
  <meta name="msapplication-TileImage" content="static/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#28a745">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/8ff51804be.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/css/bootstrap-select.min.css" integrity="sha256-q+3CS1i6GuPNz/JQk7dapdWXvii85xf7vecZx2QqsFI=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.1/css/flag-icon.css" integrity="sha256-9MbYWPlETRYDxprjQWUUAkiU6JtQaY1EustxQWdQwhk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="static/css/style.css">


  <title>Periodic table of elements</title>
</head>
<body class="dark-theme">

  {% if elements %}
  <div class="container-fluid">

    <div class="grid mt-0" id="legend">
      <div class="grid-item"><p class="h1">I</p> <p class="h5 name">Alkali</p> <p class="h2">1</p> </div>
      <div class="grid-item"><p class="h1">II</p> <p class="h5 name">Alkaline</p> <p class="h2">2</p> </div>
      <div class="grid-item transition"><p class="h1">&nbsp;</p> <p class="h5 name">Transition metals</p> <p class="h2">3 - 12</p> </div>
      <div class="grid-item"><p class="h1">III</p> <p class="h5 name">Boron</p> <p class="h2">13</p> </div>
      <div class="grid-item"><p class="h1">IV</p> <p class="h5 name">Carbon</p> <p class="h2">14</p> </div>
      <div class="grid-item"><p class="h1">V</p> <p class="h5 name">Pnictogen</p> <p class="h2">15</p> </div>
      <div class="grid-item"><p class="h1">VI</p> <p class="h5 name">Chalcogen</p> <p class="h2">16</p> </div>
      <div class="grid-item"><p class="h1">VII</p> <p class="h5 name">Halogen</p> <p class="h2">17</p> </div>
      <div class="grid-item"><p class="h1">VIII</p> <p class="h5 name">Noble</p> <p class="h2">18</p> </div>
    </div>
    <div class="grid mt-3" id="pse">
      <div class="grid-item element nav-item" id="example" style="grid-column-start: 4; grid-row-start: 1; ">
        <div class="card h-100 bg-secondary text-white">          
          <div class="card-header">
            <h4 class="card-title">
              <span class="badge badge-light title">Cl<sup class="font-weight-light text-warning"> 2</sup></span>
              <span class="badge number">17<sup class="font-weight-light text-warning"> 1</sup></span>
            </h4>
            <h6 class="card-subtitle mb-2 subtitle text-center">Chlor<sup class="font-weight-light text-warning"> 3</sup></h6>
          </div>
          <div class="card-body text-monospace">
            <p class="mass text-right">35.45 <i class="fas fa-weight-hanging" aria-hidden="true"></i><sup class="font-weight-light text-warning"> 4</sup></p>
            <hr class="mt-1 mb-1">
            <p class="shells text-center">
              <span>
                [Ne] 3s<sup>2</sup> 3p<sup>5</sup><br>
                2/<wbr>8/<wbr>7<sup class="font-weight-light text-warning"> 5</sup>
              </span>
            </p>
            <hr class="mt-1 mb-1">
            <p class="en"><i class="fa-solid fa-plug-circle-minus" aria-hidden="true"></i> 3.16<sup class="font-weight-light text-warning"> 6</sup></p>
          </div>
        </div>
      </div>
      <div class="grid-item" style="grid-column-start: 6; grid-column-end: 12; grid-row-start: 1; grid-row-end: 3;">
        <h4 class="text-center">Explanation</h4>
        <h5 class="text-center">Backgrounds: <span class="badge badge-secondary">metal</span> <span class="badge badge-warning-dark">metalloid</span> <span class="badge badge-info">nonmetal</span> <span class="badge badge-primary">noble gas</span></h5>
        <ol>
          <li>Element number, also number of protons<br>colors: <span class="text-warning text-underline-dashed" data-toggle="tooltip" data-placement="top" title="in other words: no stable isotope">radioactive</span></li>
          <li>Element symbol<br>colors: solid / <span class="text-danger">gaseous</span> / <span class="text-primary">liquid</span> (state at <span class="text-underline-dashed" data-toggle="tooltip" data-placement="top" title="25° C. | 298.15 K">room temperature</span>)</li>
          <li>Element name</li>
          <li>Atomic mass in u or <sup>g</sup>&frasl;<sub>mol</sub></li>
          <li>Electron configuration, electrons per shell</li>
          <li>Electronegativy (Pauling scale)</li>
        </ol>
      </div>
      <div class="grid-item text-center" style="grid-column-start: 3; grid-row-start: 3; align-self: end;"><p class="h1">III B</p> <p class="h2">3</p></div>
      <div class="grid-item text-center" style="grid-column-start: 4; grid-row-start: 3; align-self: end;"><p class="h1">IV B</p> <p class="h2">4</p></div>
      <div class="grid-item text-center" style="grid-column-start: 5; grid-row-start: 3; align-self: end;"><p class="h1">V B</p> <p class="h2">5</p></div>
      <div class="grid-item text-center" style="grid-column-start: 6; grid-row-start: 3; align-self: end;"><p class="h1">VI B</p> <p class="h2">6</p></div>
      <div class="grid-item text-center" style="grid-column-start: 7; grid-row-start: 3; align-self: end;"><p class="h1">VII B</p> <p class="h2">7</p></div>
      <div class="grid-item text-center" style="grid-column-start: 8; grid-row-start: 3; align-self: end;"><p class="h1"></p> <p class="h2">8</p></div>
      <div class="grid-item text-center" style="grid-column-start: 9; grid-row-start: 3; align-self: end;"><p class="h1">VIII B</p> <p class="h2">9</p></div>
      <div class="grid-item text-center" style="grid-column-start: 10; grid-row-start: 3; align-self: end;"><p class="h1"></p> <p class="h2">10</p></div>
      <div class="grid-item text-center" style="grid-column-start: 11; grid-row-start: 3; align-self: end;"><p class="h1">I B</p> <p class="h2">11</p></div>
      <div class="grid-item text-center" style="grid-column-start: 12; grid-row-start: 3; align-self: end;"><p class="h1">II B</p> <p class="h2">12</p></div>
        
    {% for key in elements %}
    {% if key == 'order' %}

    <nav class="navbar fixed-top navbar-dark text-center">
      <button class="navbar-toggler p-0 border-0 mx-auto text-muted" type="button" data-toggle="offcanvas">
        <i class="fa-solid fa-bars"></i>
      </button>
    
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="offcanvas">
              <i class="fa-solid fa-bars"></i>
            </a>
          </li>
          {% for nav_item in elements[key]|sort %}
          <li class="nav-item">
            <a class="nav-link py-0" href="#">{{nav_item|upper}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    {% else %}
    {% set element = elements[key] %}
    {% set my_css = 'style="grid-column-start: '|safe ~ element.xpos ~ ';grid-row-start: ' ~ element.ypos ~ '"'|safe %}
    <div href="#" class="grid-item element {{element.css_classes}} {% if element.hybrid %} {{element.hybrid}}{% endif %} {% if element.number == 43 or element.number >= 83 %} radioactive{% endif %}" id="element-{{element.symbol|lower()}}" data-toggle="modal" data-target="#elementModal" data-phase="{{element.phase.lower()}}" data-i="{{element.number}}" data-group="{{element.group}}" data-period="{{element.period}}"  {{my_css}}>
      <div class="card h-100">
        <div class="card-header">
          <h4 class="card-title">
            <span class="badge badge-light title">{{element.symbol}}</span>
            <span class="badge number">{{element.number}}</span>
          </h4>
          <h6 class="card-subtitle mb-2 subtitle text-center">{{element.name}}</h6>
        </div>
        <div class="card-body text-monospace">
          <!-- {{element.group}} -->
          <p class="mass text-right">{{element.atomic_mass|round(3)}} <i class="fas fa-weight-hanging"></i></p>
          <hr class="mt-1 mb-1">
          <p class="shells text-center">
            <span>
              <!-- <i class="fas fa-atom"> </i>  -->
              {% if element.electron_configuration_semantic_formatted %}{{element.electron_configuration_semantic_formatted|safe}}{% endif %}<br>
              {{element.shells|join('/<wbr>'|safe)}}
            </span>
          </p>
          
          <hr class="mt-1 mb-1">
          <p class="en"><i class="fa-solid fa-plug-circle-minus"></i> {% if element.electronegativity_pauling %}{{element.electronegativity_pauling}}{% else %}&ndash;{% endif %}</p>
          
          <div class="d-none">
            <div class="description">
              <p>{{element.summary}}</p>
              <a href="{{element.source}}" target="_blank"><i class="fas fa-external-link-alt"></i> Source</a>

              <div class="card bg-dark text-white mt-2 mb-2">
                <img class="card-img-top" src="{{element.image.url}}" alt="{{element.image.title}}">
                <div class="card-body ">
                  <p class="card-text">
                    <a href="{{element.image.url}}" title="{{element.image.title}}" target="_blank">{{element.image.title}}</a>
                    {{element.image.attribution}}</p>
                </div>
              </div>

              <table class="table table-striped table-sm">
                {% if element.period %}
                  <tr><th>Period</th><td>{{element.period}}</td></tr>
                {% endif %}
                {% if element.atomic_mass %}
                  <tr><th>Atomic mass</th><td>{{element.atomic_mass}} <sup>g</sup>&frasl;<sub>mol</sub></td></tr>
                {% endif %}
                {% if element.melt %}
                  <tr><th>Melting Point</th><td>{{element.melt}} K ({{(element.melt|float - 273.15)|round(3)}} °C)</td></tr>
                {% endif %}
                {% if element.boil %}
                  <tr><th>Boiling Point</th><td>{{element.boil}} K ({{(element.boil|float - 273.15)|round(3)}} °C)</td></tr>
                {% endif %}
                {% if element.density %}
                <tr><th>Density</th><td>{{element.density}}
                  {% if element.phase.lower() == 'gas' %}
                    <sup>g</sup>&frasl;<sub>dm<sup>3</sup></sub> =
                    <sup>g</sup>&frasl;<sub>l</sub>
                  {% else %}
                    <sup>g</sup>&frasl;<sub>cm<sup>3</sup></sub> = 
                    <sup>kg</sup>&frasl;<sub>dm<sup>3</sup></sub>
                  {% endif %}
                </td></tr>
                {% endif %}
                {% if element.appearance %}
                  <tr><th>appearance</th><td>{{element.appearance}}</td></tr>
                {% endif %}
                {% if element.category %}
                  <tr><th>category</th><td>{{element.category}}</td></tr>
                {% endif %}
                {% if element.color %}
                  <tr><th>Color</th><td>{{element.color}}</td></tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
      <a href="#element-la" class="grid-item element nav-item lanthanide" id="" style="grid-column-start: 3; grid-row-start: 6;">
        <div class="card h-100 bg-dark text-white">
          <div class="card-header">
            <h4 class="card-title">
              <span class="badge number">57 - 71</span>
            </h4>
            <h6 class="card-subtitle mb-2 subtitle text-center">Lanthanide series</h6>
          </div>
          <div class="card-body">
          </div>
        </div>
      </a>
      <a href="#element-ac" class="grid-item element nav-item actinide radioactive" id="" style="grid-column-start: 3; grid-row-start: 7;">
        <div class="card h-100 bg-dark text-white">
          <div class="card-header">
            <h4 class="card-title">
              <span class="badge number">89 - 103</span>
            </h4>
            <h6 class="card-subtitle mb-2 subtitle text-center">Actinide series</h6>
          </div>
          <div class="card-body">
          </div>
        </div>
      </a>
      <div class="grid-item nav-item" id="" style="grid-column-start: 3; grid-row-start: 8;">
        <p class="big-arrow text-center"><i class="fas fa-long-arrow-alt-down"></i></p>
      </div>
    </div> <!-- / .grid#pse -->

  </div>
  {% endif %}

    <div class="row mt-4 justify-content-md-center">
      <div class="col-md-auto">
        <div class="img-thumbnail float-left">
          <p class="mb-0 text-center text-muted">Ad: <small>(<a href="">why?</a>)</small></p>
          <img src="https://via.placeholder.com/728x90?text=728x90+Leaderboard" alt="https://placeholder.com/banner-ads/" class="img-fluid">
          <p class="mb-0 text-center text-muted">C/O https://placeholder.com/banner-ads/</p>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg mt-4 navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Periodic table of elements</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-wrench"></i> Settings
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item" href="#">
              <!-- Switch -->
              <div id="themeSwitch" class="switch">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                    Light theme
                </label>
              </div>
            </div>
            <div class="dropdown-item" href="#">
              <!-- Switch -->
              <div id="minimalisticSwitch" class="switch">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                    Minimalistic display of elements
                </label>
              </div>
            </div>
          </div>
        </div>
        <form action="">
          <select id="language" name="language" class="selectpicker mx-2" data-width="fit">
            <option data-content='<span class="flag-icon flag-icon-gb"></span> English (UK)' value="en_gb" data="en_gb">English (UK)</option>
            <option data-content='<span class="flag-icon flag-icon-us"></span> English (US)' value="en_us" data="en_us">English (US)</option>
            <!-- <option data-content='<span class="flag-icon flag-icon-mx"></span> Español' value="es_es" data="es_es">Español</option> -->
            <option data-content='<span class="flag-icon flag-icon-de"></span> Deutsch' value="de_de" data="de_de">Deutsch</option>
          </select>
        </form>
        <form id="search-form" class="form search-form my-2">
          <div class="input-group">
            <input type="text" class="form-control search-param" id="s" name="s" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-success"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </nav>

    <div class="container mt-4">
      <h1>Periodensystem der Elemente (PSE)</h1>
      <p>Das Periodensystem der Elemente (kurz: Periodensystem oder PSE) ist eines der wichtigsten Werkzeuge der Chemie, der Physik, auch der Biologie und grundsätzlich aller Naturwissenschaften.</p>
      <p>Im Periodensystem werden alle Elemente mit aufsteigender Ordnungszahl (Kernladungszahl = Anzahl der Protonen) dargestellt. Dabei werden sie in Gruppen (Haupt- und Nebengruppen) und in Perioden sortiert.
        Elemente einer Gruppe sind sich chemisch ähnlich, d.h. sie gehen ähnliche Verbindungen ein.</p>
      <h2>Das Periodensystem anschaulich erklärt (in Videoform)</h2>
      <p>Nachfolgend erklärt die Chemikerin und Wissenschaftsjournalistin Mai Thi Nguyen-Kim für den YouTube-Kanal <em>musstewissen Chemie</em> das Periodensystem:</p>
      <div class="alert alert-warning" role="alert">
        <p><span class="text-danger">Disclaimer: </span>Obwohl es so aussieht, ist YouTube hier nicht eingebettet. Erst mit einem Klick auf das Vorschaubild wird YouTube geladen und in dem Zusammenhang Daten an YouTube übermittelt.</p>
      </div>
    </div>

    <div class="row no-gutters mt-4">
      <div class="col">
        <div class="embed-responsive embed-responsive-16by9">

          <iframe class="embed-responsive-item"
            width="560"
            height="315"
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/J2KJRRH0E3Y?autoplay=1><img src=https://img.youtube.com/vi/J2KJRRH0E3Y/maxresdefault.jpg alt='Periodensystem der Elemente I Teil 1 I musstewissen Chemie'><span>▶</span></a>"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            title="Periodensystem der Elemente I Teil 1 I musstewissen Chemie"
          ></iframe>

          <div class="youtube-link">
            <a href="https://youtu.be/J2KJRRH0E3Y" class="btn btn-link text-white" target="_blank" title="auf YouTube ansehen">
              <i class="fa-brands fa-youtube"></i> Periodensystem der Elemente I Teil 1 I musstewissen Chemie
            </a>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="embed-responsive embed-responsive-16by9">

          <iframe class="embed-responsive-item"
            width="560"
            height="315"
            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/f5-W87IGLFY?autoplay=1><img src=https://img.youtube.com/vi/f5-W87IGLFY/maxresdefault.jpg alt='Periodensystem der Elemente I Teil 2 I musstewissen Chemie'><span>▶</span></a>"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            title="Periodensystem der Elemente I Teil 2 I musstewissen Chemie"
          ></iframe>

          <div class="youtube-link">
            <a href="https://youtu.be/f5-W87IGLFY" class="btn btn-link text-white" target="_blank" title="auf YouTube ansehen">
              <i class="fa-brands fa-youtube"></i> Periodensystem der Elemente I Teil 2 I musstewissen Chemie
            </a>
          </div>

        </div>
        </div>
    </div>

    <div class="container mt-4">
      <h2>Zusammenfassung von WikiPedia</h2>
      <blockquote class="blockquote border-left pl-3 ml-1" cite="https://de.wikipedia.org/wiki/Periodensystem">
        <p>Das <strong>Periodensystem</strong> (Langfassung <strong>Periodensystem der Elemente</strong>, abgekürzt <strong>PSE</strong>) stellt alle chemischen Elemente mit steigender Kernladung (Ordnungszahl)
          und entsprechend ihren chemischen Eigenschaften zusammengefasst in Perioden sowie Haupt- und Nebengruppen dar. Es wurde 1869 unabhängig voneinander
          und fast identisch von zwei Chemikern aufgestellt, zunächst von dem Russen Dmitri Mendelejew (1834–1907) und wenige Monate später von dem Deutschen
          Lothar Meyer (1830–1895). Historisch war das Periodensystem für die Vorhersage der Entdeckung neuer Elemente und deren Eigenschaften von
          besonderer Bedeutung. Heute dient es vor allem der Übersicht und der Berechnung chemischer Reaktionen.</p>
        <footer class="blockquote-footer"><cite title="Source Title"><i class="fab fa-wikipedia-w"></i> WikiPedia:Periodensystem</cite>: <a href="https://de.wikipedia.org/wiki/Periodensystem" target="_blank"><i class="fas fa-external-link-alt"></i> https://de.wikipedia.org/wiki/Periodensystem</a></footer>
      </blockquote>
      <h3>Infos zur Entdeckung</h3>
      <blockquote class="blockquote border-left pl-3 ml-1" cite="https://de.wikipedia.org/wiki/Periodensystem">
        <p class="mb-0">Bis 2016 wurden die Elemente 1 (Wasserstoff) bis 118 (Oganesson) lückenlos entdeckt oder erzeugt und beschrieben. In der Natur kommen die Elemente
          der Ordnungszahlen 1 bis 94 vor, wobei Technetium (Ordnungszahl 43), Promethium (61), Astat (85), Neptunium (93) und Plutonium (94) natürlich in so
          geringen Mengen vorkommen, dass sie zuerst künstlich erzeugt und beschrieben wurden. Unter den 94 natürlichen Elementen sind 83 primordial, das
          heißt, 83 Elemente sind seit der Entstehung der Erde existent, während 11 aus den natürlichen Zerfallsreihen der primordialen Elemente gebildet werden.
          Die Elemente der Ordnungszahlen 95 bis 118 wurden künstlich erzeugt.</p>
        <footer class="blockquote-footer"><cite title="Source Title"><i class="fab fa-wikipedia-w"></i> WikiPedia:Periodensystem</cite>: <a href="https://de.wikipedia.org/wiki/Periodensystem" target="_blank"><i class="fas fa-external-link-alt"></i> https://de.wikipedia.org/wiki/Periodensystem</a></footer>
      </blockquote>
    </div>

    <div class="row justify-content-md-center mt-4">
      <div class="col-md-auto">
        <div class="img-thumbnail float-left">
          <p class="mb-0 text-center text-muted">Ad: <small>(<a href="">why?</a>)</small></p>
          <img src="https://via.placeholder.com/728x90?text=728x90+Leaderboard" alt="https://placeholder.com/banner-ads/" class="img-fluid">
          <p class="mb-0 text-center text-muted">C/O https://placeholder.com/banner-ads/</p>
        </div>
      </div>
    </div>

  </div> <!-- / .container-fluid -->

  <div style="display:none">
    <a href="#" class="grid-item element" id="" data-toggle="modal" data-target="#elementModal">
      <div class="card h-100">
        <div class="card-header">
          <h4 class="card-title">
            <span class="badge badge-light title"></span>
            <span class="badge number"></span>
          </h4>
          <h6 class="card-subtitle mb-2 subtitle text-center"></h6>
        </div>
        <div class="card-body">
          <p class="mass"></p>
          <p class="shells"></p>
          <p class="en"></p>
          <div class="d-none">
            <div class="description"></div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <footer id="page-footer" class="mt-4">
    <div class="row no-gutters social-media justify-content-md-center">
      <div class="col-md-9 col-lg-6">
        <div class="row no-gutters">
          <div class="col-3">
            <a href="" class="facebook"><i class="fab fa-facebook"></i></a>
          </div>
          <div class="col-3">
            <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="col-3">
            <a href="" class="youtube"><i class="fab fa-youtube"></i></a>
          </div>
          <div class="col-3">
            <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters links justify-content-md-center">
      <div class="col-md-9 col-lg-6">
        <div class="row no-gutters">
          <div class="col">
            <ul class="list-unstyled mb-0 p-4 text-center">
              <li><a href="">Übersicht</a></li>
              <li><a href="">Lexikon</a></li>
              <li><a href="">FAQ</a></li>
              <li><a href="">Shop</a></li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-unstyled mb-0 p-4 text-center">
              <li><a href="">Impressum</a></li>
              <li><a href="">Datenschutzerklärung</a></li>
              <li><a href="">AGB</a></li>
              <li><a href="">Über uns</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container">
        <a href="" class="o-50 o-h-100"><img src="static/images/logo.png" class="img-fluid d-block mx-auto py-3" alt="" width="300px"></a>
      </div>
    </div>
    <div class="py-2 ">
      <div class="container">
        <div class="pull-left">&copy; 2018 Florian Mischke</div>
        <div class="pull-right"></div>
      </div>
    </div>
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="elementModal" tabindex="-1" role="dialog" aria-labelledby="elementModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="elementModalTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/js/bootstrap-select.min.js" integrity="sha256-APwNt/Yju1ZD+yBddFqLhJsk21FXdiNGUuISL4EkUs4=" crossorigin="anonymous"></script>
  <script src="static/js/jquery.liveFilter.js"></script>
  <script src="static/js/scripts.js"></script>
</body>
</html>
