<div class="grid-item element nav-item" id="example" style="grid-column-start: 4; grid-row-start: 1; ">
    <div class="card h-100 bg-secondary text-white">          
      <div class="card-header">
        <h4 class="card-title">
          <span class="badge badge-light title">Cl<sup class="font-weight-light text-warning"> 2</sup></span>
          <span class="badge number">17<sup class="font-weight-light text-warning"> 1</sup></span>
        </h4>
        <h6 class="card-subtitle mb-2 subtitle text-center">Chlor<sup class="font-weight-light text-warning"> 3</sup></h6>
      </div>
      <div class="card-body text-monospace">
        <p class="mass text-right">35.45 <i class="fas fa-weight-hanging" aria-hidden="true"></i><sup class="font-weight-light text-warning"> 4</sup></p>
        <hr class="mt-1 mb-1">
        <p class="shells text-center">
          <span>
            [Ne] 3s<sup>2</sup> 3p<sup>5</sup><br>
            2/<wbr>8/<wbr>7<sup class="font-weight-light text-warning"> 5</sup>
          </span>
        </p>
        <hr class="mt-1 mb-1">
        <p class="en"><i class="fa-solid fa-plug-circle-minus" aria-hidden="true"></i> 3.16<sup class="font-weight-light text-warning"> 6</sup></p>
      </div>
    </div>
  </div>