<a href="#element-la" class="grid-item element nav-item lanthanide" id="" style="grid-column-start: 3; grid-row-start: 6;">
    <div class="card h-100 bg-dark text-white">
        <div class="card-header">
        <h4 class="card-title">
            <span class="badge number">57 - 71</span>
        </h4>
        <h6 class="card-subtitle mb-2 subtitle text-center">Lanthanide series</h6>
        </div>
        <div class="card-body">
        </div>
    </div>
</a>
<a href="#element-ac" class="grid-item element nav-item actinide radioactive" id="" style="grid-column-start: 3; grid-row-start: 7;">
    <div class="card h-100 bg-dark text-white">
        <div class="card-header">
        <h4 class="card-title">
            <span class="badge number">89 - 103</span>
        </h4>
        <h6 class="card-subtitle mb-2 subtitle text-center">Actinide series</h6>
        </div>
        <div class="card-body">
        </div>
    </div>
</a>
<div class="grid-item nav-item" id="" style="grid-column-start: 3; grid-row-start: 8;">
    <p class="big-arrow text-center"><i class="fas fa-long-arrow-alt-down"></i></p>
</div>