<footer id="page-footer" class="mt-4">
    <div class="row no-gutters social-media justify-content-md-center">
      <div class="col-md-9 col-lg-6">
        <div class="row no-gutters">
          <div class="col-3">
            <a href="" class="facebook"><i class="fab fa-facebook"></i></a>
          </div>
          <div class="col-3">
            <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="col-3">
            <a href="" class="youtube"><i class="fab fa-youtube"></i></a>
          </div>
          <div class="col-3">
            <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters links justify-content-md-center">
      <div class="col-md-9 col-lg-6">
        <div class="row no-gutters">
          <div class="col">
            <ul class="list-unstyled mb-0 p-4 text-center">
              <li><a href="">Übersicht</a></li>
              <li><a href="">Lexikon</a></li>
              <li><a href="">FAQ</a></li>
              <li><a href="">Shop</a></li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-unstyled mb-0 p-4 text-center">
              <li><a href="">Impressum</a></li>
              <li><a href="">Datenschutzerklärung</a></li>
              <li><a href="">AGB</a></li>
              <li><a href="">Über uns</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container">
        <a href="" class="o-50 o-h-100"><img src="static/images/logo.png" class="img-fluid d-block mx-auto py-3" alt="" width="300px"></a>
      </div>
    </div>
    <div class="py-2 ">
      <div class="container">
        <div class="pull-left"><i class="fa-regular fa-copyright"></i> 2018-2024 Florian Mischke</div>
        <div class="pull-right"></div>
      </div>
    </div>
  </footer>