<div class="block-model">
<div class="grid-item px-2" style="grid-column-start:1;grid-column-end:3;
    grid-row-start:1;">
    <p class="w-25 mb-0 float-left text-left"><i class="fa-solid fa-arrow-left-long"></i></p>
    <p class="w-50 mb-0 float-left text-center">s</p>
    <p class="w-25 mb-0 float-right text-right"><i class="fa-solid fa-arrow-right-long"></i></p>
</div>
{% if alt == True %}
<div class="grid-item px-2" style="grid-column-start:3;grid-column-end:4;
    grid-row-start:4;">
    <p class="mb-0 text-center">d</p>
</div>
<div class="grid-item px-2" style="grid-column-start:4;grid-column-end:18;
    grid-row-start:6;">
    <p class="w-25 mb-0 float-left text-left"><i class="fa-solid fa-arrow-left-long"></i></p>
    <p class="w-50 mb-0 float-left text-center">f</p>
    <p class="w-25 mb-0 float-right text-right"><i class="fa-solid fa-arrow-right-long"></i></p>
</div>
<div class="grid-item px-2" style="grid-column-start:18;grid-column-end:27;
    grid-row-start:4;">
    <p class="w-25 mb-0 float-left text-left"><i class="fa-solid fa-arrow-left-long"></i></p>
    <p class="w-50 mb-0 float-left text-center">d</p>
    <p class="w-25 mb-0 float-right text-right"><i class="fa-solid fa-arrow-right-long"></i></p>
</div>
{% else %}
<div class="grid-item px-2" style="grid-column-start:3;grid-column-end:17;
    grid-row-start:6;">
    <p class="w-25 mb-0 float-left text-left"><i class="fa-solid fa-arrow-left-long"></i></p>
    <p class="w-50 mb-0 float-left text-center">f</p>
    <p class="w-25 mb-0 float-right text-right"><i class="fa-solid fa-arrow-right-long"></i></p>
</div>
<div class="grid-item px-2" style="grid-column-start:17;grid-column-end:27;
    grid-row-start:4;">
    <p class="w-25 mb-0 float-left text-left"><i class="fa-solid fa-arrow-left-long"></i></p>
    <p class="w-50 mb-0 float-left text-center">d</p>
    <p class="w-25 mb-0 float-right text-right"><i class="fa-solid fa-arrow-right-long"></i></p>
</div>
{% endif %}
<div class="grid-item px-2" style="grid-column-start:27;grid-column-end:33;
    grid-row-start:1;">
    <p class="w-25 mb-0 float-left text-left"><i class="fa-solid fa-arrow-left-long"></i></p>
    <p class="w-50 mb-0 float-left text-center">p</p>
    <p class="w-25 mb-0 float-right text-right"><i class="fa-solid fa-arrow-right-long"></i></p>
</div>
{% for key in elements %}
    {% if key != 'order' %}
    {% set element = elements[key] %}
    {% set xpos = element.wxpos %}
    {% if alt == True and (element.number == 21 or element.number == 39) %}
        {% set xpos = 3 %}
    {% endif %}
    {% set ypos = element.wypos+1 %}
    {% set my_css = 'style="grid-column-start: '|safe ~ xpos ~ ';grid-row-start: ' ~ ypos ~ '"'|safe %}
    <div class="grid-item border" {{my_css}}>
        <p class="text-center mb-0 py-2"><sub><small>{{element.number}}</small></sub>{{element.symbol}}</p>
    </div>
    {% endif %}
{% endfor %}
</div>